/* .card-container {
    display: inline-grid;
    grid-template-columns: repeat (4, 1fr);
    /* grid-gap: 1rem; */
/* }  */

.card {
    background: #ebebeb;
    border-radius: .7rem;
    margin: 1rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* display: inline-block; */
    padding: .3rem;
    border: none;
    /* flex-basis: 20%; */
    transition: all 0.25s;

}

.card > .img-container {
    height: 100%;
    cursor: pointer;
}

.card > .img-container > img {
    border-radius: .5rem;
}

.card:hover {
    /* color: #002d39; */
    /* opacity: .5; */
    transform: scale(1.05);
}