.header {
    background-color: #002d39;
    opacity: .75;
    background-blend-mode: multiply;
    color: #ebebeb;
    height: 3.5rem;
}

.title {
    float: left;
    padding-left: 1.5rem;
    font-weight: bolder;
    font-size: 1.75rem;
    padding-top: .3rem;
}

.headerSpan {
    font-weight: bold;
    font-size: 1.25rem;
}

.score {
    float: right;
    padding-right: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: .6rem;
}